/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	background-color: #CCDED1;
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #81B7CC;
	width: 70%;
	margin: 0 auto;	
	padding: 20px 40px;
	border: 1px solid #ddd;
}

h1 {
	/*font-family: 'Offside', verdana, sans-serif;	*/
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Offside', cursive; */

}

header {
	background-color: #1E4757;	
	color: #fff;
	padding: 20px;
	background-image: url(tvDinnerSmall.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

header h1 {
	font-size: 40px;
}

nav ul {
	list-style: none;
	margin-left:0;
	padding-left:0;	
}

nav li {
	display: inline;
}

header a:link {color: #fff}
header a:visited {color: #fff}
header a:hover {color: #fff}
header a:focus {color: #fff}
header a:active {color: #fff}

table {
	width: 100%;
}

thead th {
	border-bottom: 2px solid #ccc;
	text-align: left;
	padding: 5px 0;
}

tbody tr {
	background-color: white;	
}

tbody tr:nth-child(even) {
	background-color: #CCDED1;
}